@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Syne:wght@600;700;800&display=swap");
@import "tailwindcss";

:root {
  --background: #07090f;
  --foreground: #f1f5f9;
}

body {
  background: #07090f;
  color: #f1f5f9;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Syne", sans-serif;
}
